<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.AdminMapper">

	<select id="getAddressOfMember" resultType="GraphVO">
		SELECT SUBSTR(address, 1, 2) AS address, COUNT(*) AS cnt
		FROM member
		WHERE address LIKE '__%'
		GROUP BY SUBSTR(address, 1, 2)
		ORDER BY SUBSTR(address, 1, 2) ASC
	</select>
	
	
	<select id="getTotalCountOfBoards" resultType="GraphVO">
		SELECT TABLE_NAME,
		TO_NUMBER(dbms_xmlgen.getxmltype('SELECT COUNT(*) c FROM ' || TABLE_NAME).Extract('//text()')) numrow
		FROM USER_TABLES
		WHERE TABLE_NAME LIKE 'MERCHANDISE'
		OR TABLE_NAME LIKE 'BOARD'
		OR TABLE_NAME LIKE 'FBOARD'
		OR TABLE_NAME LIKE 'ASELL'
	</select>
	<select id="getAdminTboards" resultType="BoardVO">
		SELECT b.*
		FROM (SELECT ROWNUM AS rnum, a.*
			  FROM (SELECT *
			  		FROM board
			  		<where>
		            	<if test="tSearch != null and tSearch != ''">
						subject LIKE '%' || #{tSearch} || '%'
						</if>
		            </where>
		            ORDER BY num DESC) a
		       <![CDATA[
			  WHERE ROWNUM <= #{endRow}) b
		WHERE rnum >= #{startRow} ]]>
	</select>
	<select id="getAdminFboards" resultType="FboardVO">
		SELECT b.*
		FROM (SELECT ROWNUM AS rnum, a.*
			  FROM (SELECT *
			  		FROM fboard
			  		<where>
		            	<if test="fSearch != null and fSearch != ''">
						subject LIKE '%' || #{fSearch} || '%'
						</if>
		            </where>
		            ORDER BY num DESC) a
		       <![CDATA[
			  WHERE ROWNUM <= #{endRow}) b
		WHERE rnum >= #{startRow} ]]>
	</select>
	
</mapper>