<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.CityMapper">

	<select id="getBoardCount" resultType="int">
		SELECT COUNT(*) FROM city
		<where>
			<if test="search != null and search != ''">
			sido LIKE '%' || #{search} || '%'
			OR gugun LIKE '%' || #{search} || '%'
			OR dong LIKE '%' || #{search} || '%'
			</if>
		</where>
	</select>
	
	<select id="getBoards" resultType="CityVO">
		SELECT b.*
		FROM (SELECT ROWNUM AS rnum, a.*
		      FROM (SELECT *
		            FROM city
		            <where>
		            	<if test="search != null and search != ''">
						sido LIKE '%' || #{search} || '%'
						OR gugun LIKE '%' || #{search} || '%'
						OR dong LIKE '%' || #{search} || '%'
						</if>
		            </where>
					ORDER BY seq ASC) a
			  <![CDATA[
			  WHERE ROWNUM <= #{endRow}) b
		WHERE rnum >= #{startRow} ]]>
	</select>
</mapper>