<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.CommunityMapper">

	<select id="getBoardCount" resultType="int">
		SELECT COUNT(*) FROM fboard
		<where>
			<if test="search != null and search != ''">
			subject LIKE '%' || #{search} || '%'
			</if>
		</where>
	</select>
	<select id="getBoards" resultType="FboardVO">
		SELECT b.*
		FROM (SELECT ROWNUM AS rnum, a.*
		      FROM (SELECT *
		            FROM fboard
		            <where>
		            	<if test="search != null and search != ''">
						subject LIKE '%' || #{search} || '%'
						</if>
		            </where>
					ORDER BY re_ref DESC, re_seq ASC) a
			  <![CDATA[
			  WHERE ROWNUM <= #{endRow}) b
		WHERE rnum >= #{startRow} ]]>
	</select>
	<select id="getUsernameOfBoardCount" resultType="int">
		SELECT COUNT(*) FROM fboard
		<where>
			<if test="search != null and search != ''">
			username LIKE '%' || #{search} || '%'
			</if>
		</where>
	</select>
	<select id="getUsernameOfBoards" resultType="FboardVO">
		SELECT b.*
		FROM (SELECT ROWNUM AS rnum, a.*
		      FROM (SELECT *
		            FROM fboard
		            <where>
		            	<if test="search != null and search != ''">
						username LIKE '%' || #{search} || '%'
						</if>
		            </where>
					ORDER BY re_ref DESC, re_seq ASC) a
			  <![CDATA[
			  WHERE ROWNUM <= #{endRow}) b
		WHERE rnum >= #{startRow} ]]>
	</select>
	<select id="getContentOfBoardCount" resultType="int">
		SELECT COUNT(*) FROM fboard
		<where>
			<if test="search != null and search != ''">
			content LIKE '%' || #{search} || '%'
			</if>
		</where>
	</select>
	<select id="getContentOfBoards" resultType="FboardVO">
		SELECT b.*
		FROM (SELECT ROWNUM AS rnum, a.*
		      FROM (SELECT *
		            FROM fboard
		            <where>
		            	<if test="search != null and search != ''">
						content LIKE '%' || #{search} || '%'
						</if>
		            </where>
					ORDER BY re_ref DESC, re_seq ASC) a
			  <![CDATA[
			  WHERE ROWNUM <= #{endRow}) b
		WHERE rnum >= #{startRow} ]]>
	</select>
	<select id="writtenReplyCount" resultType="int">
		SELECT COUNT(*) FROM freply WHERE parentnum = #{num}
	</select>
	
	
	<select id="nextBoardNum" resultType="int">
		SELECT MAX(num) FROM fboard
	</select>
	<insert id="insertBoard">
		INSERT INTO fboard (num, username, subject, content, readcount, ip, reg_date, re_ref, re_lev, re_seq, good, usernick, gooduser)
		VALUES (#{num}, #{username}, #{subject}, #{content}, #{readcount}, #{ip}, current_timestamp, #{reRef}, #{reLev}, #{reSeq}, #{good}, #{usernick}, #{gooduser})
	</insert>
	
	
	<select id="getBoard" resultType="FboardVO">
		SELECT * FROM fboard WHERE num = #{num}
	</select>
	<update id="updateReadCount">
		UPDATE fboard
		SET readcount = readcount + 1
		WHERE num = #{num}
	</update>
	<select id="getReplyCount" resultType="int">
		SELECT COUNT(*) FROM freply WHERE parentnum = #{num}
	</select>
	<select id="getReplys" resultType="FreplyVO">
		SELECT b.*
		FROM (SELECT ROWNUM AS rnum, a.*
		      FROM (SELECT *
		            FROM freply
					ORDER BY num DESC) a
			  <![CDATA[
			  WHERE ROWNUM <= #{endRow}) b
		WHERE rnum >= #{startRow} ]]>
	</select>
	
	
	<select id="IsUserRecommendedBoard" resultType="int">
		SELECT COUNT(*) FROM fboard WHERE num = #{num}
		AND gooduser LIKE '%' || #{gooduser} || '%'
	</select>
	<update id="updateGoodCount">
		UPDATE fboard
		SET good = good + 1, gooduser = gooduser || #{gooduser}
		WHERE num = #{num}
	</update>
	
	
	<update id="updateBoard">
		UPDATE fboard
		SET subject = #{subject}, content = #{content}
		WHERE num = #{num}
	</update>
	
	
	<delete id="deleteBoard">
		DELETE FROM fboard WHERE num = #{num}
	</delete>
	
	
	<select id="nextReplyNum" resultType="int">
		SELECT MAX(num) FROM freply
	</select>
	<insert id="insertReply">
		INSERT INTO freply (num, username, content, ip, reg_date, re_ref, re_lev, re_seq, parentnum)
		VALUES (#{num}, #{username}, #{content}, #{ip}, current_timestamp, #{reRef}, #{reLev}, #{reSeq}, #{parentnum})
	</insert>
	
	
	<update id="updateReply">
		UPDATE freply
		SET content = #{content}
		WHERE num = #{num}
	</update>
	<select id="getReply" resultType="FreplyVO">
		SELECT * FROM freply WHERE num = #{num}
	</select>
	
	
	<delete id="deleteReply">
		DELETE FROM freply WHERE num = #{num}
	</delete>
	
	
	<update id="updateReInsertGroupSequence">
		UPDATE fboard
		SET re_seq = re_seq + 1
		WHERE re_ref = #{reRef}
		<![CDATA[
		AND re_seq > #{reSeq} ]]>
	</update>
	
	
	<select id="getCountOfBestSubject" resultType="int">
		<![CDATA[
		SELECT COUNT(*) FROM fboard WHERE good >= 20 ]]>
		<where>
          	<if test="search != null and search != ''">
			subject LIKE '%' || #{search} || '%'
			</if>
        </where>
	</select>
	<select id="getBestBoardsBySubject" resultType="FboardVO">
		SELECT b.*
		FROM (SELECT ROWNUM AS rnum, a.*
		      FROM (SELECT *
		            FROM fboard
		            <![CDATA[
		            WHERE good >= 20 ]]>
		            <where>
		            	<if test="search != null and search != ''">
						AND subject LIKE '%' || #{search} || '%'
						</if>
		            </where>
					ORDER BY re_ref DESC, re_seq ASC) a
			  <![CDATA[
			  WHERE ROWNUM <= #{endRow}) b
		WHERE rnum >= #{startRow} ]]>
	</select>
	<select id="getCountOfBestUsername" resultType="int">
		<![CDATA[
		SELECT COUNT(*) FROM fboard WHERE good >= 20 ]]>
		<where>
          	<if test="search != null and search != ''">
			username LIKE '%' || #{search} || '%'
			</if>
        </where>
	</select>
	<select id="getBestBoardsByUsername" resultType="FboardVO">
		SELECT b.*
		FROM (SELECT ROWNUM AS rnum, a.*
		      FROM (SELECT *
		            FROM fboard
		            <![CDATA[
		            WHERE good >= 20 ]]>
		            <where>
		            	<if test="search != null and search != ''">
						AND username LIKE '%' || #{search} || '%'
						</if>
		            </where>
					ORDER BY re_ref DESC, re_seq ASC) a
			  <![CDATA[
			  WHERE ROWNUM <= #{endRow}) b
		WHERE rnum >= #{startRow} ]]>
	</select>
	<select id="getCountOfBestContent" resultType="int">
		<![CDATA[
		SELECT COUNT(*) FROM fboard WHERE good >= 20 ]]>
		<where>
          	<if test="search != null and search != ''">
			content LIKE '%' || #{search} || '%'
			</if>
        </where>
	</select>
	<select id="getBestBoardsByContent" resultType="FboardVO">
		SELECT b.*
		FROM (SELECT ROWNUM AS rnum, a.*
		      FROM (SELECT *
		            FROM fboard
		            <![CDATA[
		            WHERE good >= 20 ]]>
		            <where>
		            	<if test="search != null and search != ''">
						AND content LIKE '%' || #{search} || '%'
						</if>
		            </where>
					ORDER BY re_ref DESC, re_seq ASC) a
			  <![CDATA[
			  WHERE ROWNUM <= #{endRow}) b
		WHERE rnum >= #{startRow} ]]>
	</select>
</mapper>